
.seat {
	min-width: 32px;
	background-color: #000000;
}

.seat.occupied,.seat.occupied:hover {
	background-color: #FFFFFF;
}

.seat:hover {
	background-color: #FF0000;
}

.seat.hovered {
	background-color: #FF0000;
}

.seat.mine {
	background-color: #FFFFFF;
}

.seat.mine,.seat.mine:hover {
	background-color: #FFFFFF;
}
